.App {
  text-align: center;
  /* min-height: 130vh; */
  height:'100%';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view-container {
  background-color: #d9d9d9;
  height: 100%;
  padding: 50px;
}

.all-bars-view,
.single-bar-view, 
.all-cocktails-view,
.single-cocktail-view {
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 3px;
  min-height: calc(100vh - 202px);
}

.all-bars-view,
.all-cocktails-view {
  margin-top: 50px;
}

.MuiAppBar-colorPrimary {
  background-color: #3D3C3A !important;
}

input {
  margin-top: 15px;
}

.container {
	height: 100vh;
	font-family: "Montserrat", "sans-serif";
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #3D3C3A;
	}

  a, h1 {
		color: greenyellow;
		text-decoration: none;
	}
  
.css-1fu2e3p-MuiPaper-root-MuiDialog-paper {
  height: 600px;
}

.css-b62m3t-container {
  flex-grow: 1;
}

.css-1s2u09g-control,
.css-1pahdxg-control {
  background-color: transparent !important;
}

.css-14el2xx-placeholder {
  text-align: left;
  background-color: transparent;
}

.all-bars-view-title {
  margin-bottom: 50px;
}

.css-1k9ek97 {
  background-color: #d9d9d9 !important;
}

.logout-btn, 
.search-btn,
.review-btn {
  background-color: #3D3C3A !important;
  color: greenyellow !important;
  border-radius: 4px;
}

.search-btn {
  width: 50px;
  height: 33px;
}
.sign-up-chip {
  background-color: #d5d5d5 !important;
}

.css-1c99szj-MuiRating-icon {
  color: #d9d9d9;
}