.all-bars-view-title {
  margin-bottom: 50px;
  text-align: left;

}

.search-checkbox {
  display: flex; 
  align-items: center; 
  margin-bottom: 70px;
}

.bar-list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.bar-list-item {
  display: flex;
  justify-content: space-between; 
  gap: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #3D3C3A;
}

.bar-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 400px;
}

.bar-name,
.bar-rating,
.bar-address,
.bar-phone {
  text-align: left;
}

p:first-child {
  font-size: 1.2rem;
}

.bar-more-btn {
  width: 50%;
  align-self: "flex-start";
  background-color: #3D3C3A !important;
  color: greenyellow !important;
}

.bar-list_cover-image {
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  border-radius: 3px;
}