.single-bar-view {
  margin: 0 auto;
  width: 75vw;
  padding-bottom: 100px;
}

.single-bar-cover {
  position: relative;
  background-size: cover;
  background-position: 75%;
  border-radius: 2px;
}

.contact-reviews-container {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  padding-top: 100px;
  padding-left: 60px;
  padding-bottom: 100px
}

/* .bar-name {
  position: absolute;
  bottom: 0
} */
